.nav-main{
  display: none;
  ul{
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  a{
    position: relative;
    z-index: 99;
    color: #FFF;
    font-size: 1rem;
    font-weight: 700;
    text-transform: uppercase;
    line-height: 152px;
    letter-spacing: 2.4px;
  } 
}
$burger-color:  #f2f2f2;;
$burger-opacity: 0.8;
$bgc: #29323c;


.burger-wraper {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100px;
  cursor: pointer;
  
}
.burger-label{
  margin-right: 1.125rem; 
  z-index: 999;
}    
.burger {
  top:44%;
  left: 3px;
  width: 22px;
  height: 3px; 
  position: relative;
  z-index: 999;
  cursor: pointer;
  outline: none;
  border: none;
  opacity: $burger-opacity;
  background-color: $burger-color; 
  transition-property: opacity;
  transition-duration: .5s;
  &:hover{
    opacity: 1;
  }
}

.burger::before, .burger::after {
  position: absolute;
  left: 0;
  width: 22px;
  height: 3px;
  background-color: $burger-color;
  transition-duration: 0.3s, 0.3s;
  transition-delay: 0.3s, 0;
  content: ' '; }

.burger::before {
  transition-property: top, transform;
  bottom: 8px; }

.burger::after {
  transition-property: bottom, transform;
  top: 8px; }

.burger-active{
  background: none;
}
.burger-active::before {
  bottom: 0;
  transform: rotate(45deg);
}
.burger-active::after {
  top: 0;
  transform: rotate(-45deg);
}
.burger-active::after, .burger-active::before{
  transition-delay: 0, 1s;
}

@media (min-width: 576px) { 
  .nav-main{
    display: block;
  }
  .burger-wraper{
    display: none;
  }
}

