.testimonials{
  padding: 4rem 0;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  background-image: 
  url('./../img/testim-bg.png');
}
.testimonials-slider{
  .slide{
    text-align: center;
    color: #efefef;
  }
  img{
    width: 105px;
    height: 105px;
    margin-bottom: 3.5rem;
    border-radius: 50%;
  }
  .dot{
    width: 12px;
    height: 12px;
    margin: 0.2rem;
    border-radius: 6px;
    background-color: #c5c5c5;
  }
  .dot.dotActive{
    background-color: #e3e3e3;
  }
}
.testimonials-text{
  width: 80%;
  margin: 0 auto 4rem;
  position: relative;
  font-family: 'CrimsonText';
  font-size: 1.25rem;
  font-style: italic;
  line-height: 24px;
  &::before, &:after{
    position: absolute;
    content: "”";
    font-family: 'CrimsonText';
    font-size: 5.8rem;
    font-style: italic;
  }
  &::before{
    transform: rotate(180deg);
    left: -1rem;
    top: -2rem;
  }
   &:after{
     right: -0rem;
    bottom: -2rem;
   }

}
.user-name{
  margin-bottom: 1rem;
  font-size: 0.8rem;
  font-weight: 400;
  line-height: 18px;
  text-transform: uppercase;
  letter-spacing: 1.47px;
}
.user-company{
  margin-bottom: 2rem;
  font-family: 'CrimsonText';
  font-size: 0.9rem;
  font-style: italic;
  line-height: 24px;
}

