.btn{
  outline: none;
  font-size: .94rem;
  font-weight: 400;
  padding: 0.8rem 1.8rem;
  letter-spacing: 1.5px;
  cursor: pointer;
  transition: background-color 0.6s ease;
  border: 2px solid ;
  background-color: transparent;
  &:hover{
    color: #000;
  }
}
.btn-dark{
  border-color: #3e3d3d;
  background-color: #3e3d3d;
  color: #cecece;
  &:hover{
    color: #fff;
    border-color: #000;
  background-color: #000;
  }
}