.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  border: 0;
  clip: rect(0, 0, 0, 0);
  overflow: hidden;
}
.page-header{
  height: 64px;
  @extend %flex-jst-btw;
}
.logo{
  img{
    width: 173px;
    height: 29px;
  }
}
.header-social-btn{
    display: none;
  }  
.main-nav{
  display: none;
  z-index: 999;
  ul{
     @extend %flex-jst-btw;
  }
  a{
    color: #aaaaaa;
    margin: 0 0.5rem;
    font-size: 0.75rem;
    font-weight: 400;
    text-transform: uppercase;
    transition-property: color;
    transition-duration: .5s;
    &:hover{
      color: #000;
    }
  } 
}
.nav-modal{
  a.active{
    padding: 0.5rem 2.5rem; 
    border-radius: 3px;
  }
}

@media (min-width: 576px) {  }

// Medium devices (tablets, 768px and up)
@media (min-width: 768px) { 
  
}  

 


// Large devices (desktops, 992px and up)
@media (min-width: 992px) {
  .burger-wraper{
    display: none;
  }
  .main-nav{
    display: block;}
  .header-social-btn{
    display: flex;
  }  
 }

// Extra large devices (large desktops, 1200px and up)
@media (min-width: 1200px) { 

}

