

.slider-wraper{
   position: relative;

}
.slide-list{
  display: flex;
  justify-content:center;
}

.slide-prev, .slide-next{
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  cursor: pointer;
  transition-duration: 0.3s;
  transition-property: color;
  z-index: 1;

}
.slide-prev{
  left: 2rem;
}
.slide-next{
  right: 2rem;
}
.slider-dots{
  display: flex;
  justify-content: center;
  position: absolute;
  width: 80%;
  left: 50%;
  transform: translateX(-50%); 
}
.dot {
  cursor: pointer;
  border-radius: 50%;
  display: inline-block;
  transition: background-color,transform  0.6s ease;
}

.dotActive, .dot:hover {
  background-color: #74c7d5;
  backface-visibility: hidden; //fix  
}
@media (max-width: 575.98px) { 
  .slide-prev, .slide-next{
    display: none;
  }
  .slide-list{
    padding: 0;
  }

}
.fade {
  animation-name: fade;
  animation-duration: 1.5s;
}

@-webkit-keyframes fade {
  from {opacity: .4} 
  to {opacity: 1}
}

@keyframes fade {
  from {opacity: .4} 
  to {opacity: 1}
}