.social-btn{
    display: flex;
    justify-content: center;
    position: relative;
    .social-btn-header{
        position: absolute;
    }   
    a{
        color: #a4a4a4;
        width: 12px;
        height: 12px;
        line-height: 12px;
       margin: 0 5px;
        text-align: center;
        transition-property: background-color, color;
        transition-duration: .8s;
        i{padding: 0 5px;
            border-left: 2px solid transparent; 
            border-right: 2px solid transparent;
        }
        &:nth-child(even){
            i{
                border-color: #a4a4a4;
            }    
        }
        &:hover{
            
        }
        &:hover.btn-tw{
            color: #1da1f2;//tw
        }
        &:hover.btn-fb{
            color: #3B5998;//fb
        }
        &:hover.btn-gpluse{
            background-color: #db4a39;//google+
        }
        &:hover.btn-behan{
            color: #053eff; //behance
        }
        &:hover.btn-drib{
            background-color: #ea4c89; //dribbble
        }
        &:hover.btn-linkid{
            background-color: #0077B5;//linkidin
        }
        &:hover.btn-vimeo{
            background-color: #1ab7ea;//vimeo
        }
        &:hover.btn-envelope{
            background-color: #db4a39;//vimeo
        }
    }

}